.nav-area{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin: 0px 30px;
}

.left-div{
    margin-top: 22px;
    margin-left: 22px;
}
.right-div{
    /* background-color: aqua; */
    padding-right: 33px;
}
ul{
    display: flex;
    
}
ul li{
    padding: 15px;
    list-style: none;
    font-size: 35px;
transition:0.2s ;
}
ul li:hover{
 scale: 1.2;
 cursor: pointer;
}